@import url('https://fonts.googleapis.com/css2?family=inter:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'inter',sans-serif;
}

body{
    height: 100vh;
    width: 100wh;
    background-color: whitesmoke;
    user-select: none;
}
.start_container{

    height: 450px;
    width: 400px;
    background-image: linear-gradient(skyblue,blue);
    margin: 0 auto;
    border: 5px solid grey;
    border-radius: 15px;
          animation-name: border;
          animation-duration: 5s;
          animation-iteration-count: infinite;
          animation-timing-function: linear;
          animation-direction: reverse;
}

@keyframes border
{
       25%{transform: translatex(90deg);border: 8px double red;}
       50%{transform: translateY(-90deg);border: 6px dotted blue;}
       75%{transform: translateZ(90deg);border: 4px dashed yellow;}
       100%{transform: translate(20px);border: 2px solid green;}
}

.start_container p{
    font-size: 28px;
    letter-spacing: 4px;
    padding: 10px;
    line-height: 60px;
    text-decoration:line-through;
    color: greenyellow;
    font-weight: 700;
    text-shadow: 10px 10px 20px black;
    text-transform: uppercase;

}

.hand-down{
    text-align: center;
    margin-bottom: 5%;
    margin-top: -10px;
}
.hand-down {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }


#start{
    height: 40px;
    width: 200px;
    margin-left: 20%;
    border-radius: 5px;
    background-color: transparent;
}

#start:hover{
    background-color: rgb(25, 197, 197);
}

.totalContainer{
    display: grid;
    justify-content: center;
    grid-template-columns: 300px;
    height: 450px;
    width: 400px;
    background-image: linear-gradient( #009fff,rgb(171, 171, 39), #ec2f4b);
    margin: 0 auto; 
    padding: 10px; 
    display: none; 
    transition: 10s;
}

.totalContainer.active{
    display:block;
}

.insertContainer{
    font-size: 25px;
}

.insertContainer div{
    margin-top: 25%;
}

i{
    margin-left: 5px;
}

.insertContainer p button
{
    padding: 10px;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid black;
    font-size: 15px;
    cursor: pointer;
}
.insertContainer p button:hover{
    background-image: linear-gradient(to bottom right,skyblue,yellow);
    border: 2px solid black;
}

#hand-right {
    animation: shake-right 0.5s;
    animation-iteration-count: infinite;
  }
  
  @keyframes shake-right {
    0% { transform: translate(1px, 0); }
    10% { transform: translate(2px, -2px); }
    20% { transform: translate(1px, 0); }
    30% { transform: translate(-2px, 2px); }
    40% { transform: translate(1px, 0); }
    50% { transform: translate(-2px, -2px); }
    60% { transform: translate(1px, 0); }
    70% { transform: translate(2px, 2px); }
    80% { transform: translate(1px, 0); }
    90% { transform: translate(-2px, -2px); }
    100% { transform: translate(1px, 0); }
  }

.container{
    display: grid;
    justify-content: center;
    grid-template-columns: 200px;
    height: 450px;
    width: 400px;
    background-image: -webkit-radial-gradient(red,skyblue);
    margin: 0 auto;
    position: relative;
}


#buttons{
    display: flex;
    
}

.containerSecond{
    background-image: -webkit-linear-gradient(rgb(244, 4, 4),rgb(195, 195, 34));
    display: grid;
    justify-content: center;
    grid-template-columns: 200px;
    height: 450px;
    width: 400px;
    background-color: skyblue;
    margin: 0 auto;
    display: none;
    position: relative;
    
}

.containerThird
{
    display: grid;
    justify-content: center;
    grid-template-columns: 200px;
    height: 450px;
    width: 400px;
    background-image: -webkit-linear-gradient(goldenrod,lightgreen,greenyellow);
    margin: 0 auto;
    position: relative;
}

.containerSecond.activeupdate{
    display: block;
}

.container.active
{
    display: none;
}

h1{
    margin-left: 30%;
    width: 100%;
    padding-top: 10%;
    font-size: 25px;
    color:blue;
    text-transform: uppercase;
    text-decoration:underline;
    text-shadow: 0 1px 2px #dfdfdf, 
      -1px 2px 0px #b8b8b8, 
      -2px 3px 0px #747474,
      -3px 4px 0px #343434,
      -4px 4px 0px #171717,
      -5px 5px 0px #000;
}

.form_controler input{
    height: 30px;
    width: 250px;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 5px;
    outline: none;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    text-decoration: underline;
    border: none;
    margin-left: 15%;
}

.form_controler input:focus{
    border:3px solid blue;
}

iframe{
    border: none;
    font-family: cursive;
    font-weight: 600;
    font-size: small;
}


#buttons button{
    height: 30px;
    width: 120px;
    margin-left: 15%;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, transparent, rgb(113, 87, 87));
}

#buttons button:hover
{
    background-color: #343434;
    color:white;
}

.backbtn{
    height: 30px;
    width: 120px;
    margin-left: 15%;
    border-radius: 5px;
    background-image: linear-gradient(to bottom right, transparent, rgb(113, 87, 87));
    position: absolute;
    top: 69%;
    left:40%;
}

.backbtn:hover{
    background-color: #343434;
    color:white;
}

.containerSecond .backbtn{
    top: 51%;
}

.containerThird .backbtn{
    top: 33.3%;
}
